<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>ZeroFilter</filter-name>
        <filter-class>jarvis.filters.ZeroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ZeroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>jarvis.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeMainController</servlet-name>
        <servlet-class>jarvis.controllers.home.HomeMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeIndexController</servlet-name>
        <servlet-class>jarvis.controllers.home.HomeIndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeSignInController</servlet-name>
        <servlet-class>jarvis.controllers.home.HomeSignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeSignUpController</servlet-name>
        <servlet-class>jarvis.controllers.home.HomeSignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeSignOutController</servlet-name>
        <servlet-class>jarvis.controllers.home.HomeSignOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeEditProfileController</servlet-name>
        <servlet-class>jarvis.controllers.home.HomeEditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeUpdateProfileController</servlet-name>
        <servlet-class>jarvis.controllers.home.HomeUpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeResetPasswordController</servlet-name>
        <servlet-class>jarvis.controllers.home.HomeResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeChangeImageController</servlet-name>
        <servlet-class>jarvis.controllers.home.HomeChangeImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeDeleteProfileController</servlet-name>
        <servlet-class>jarvis.controllers.home.HomeDeleteProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkMainController</servlet-name>
        <servlet-class>jarvis.controllers.mark.MarkMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkListController</servlet-name>
        <servlet-class>jarvis.controllers.mark.MarkListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkSearchController</servlet-name>
        <servlet-class>jarvis.controllers.mark.MarkSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkInsertController</servlet-name>
        <servlet-class>jarvis.controllers.mark.MarkInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkEditController</servlet-name>
        <servlet-class>jarvis.controllers.mark.MarkEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkUpdateController</servlet-name>
        <servlet-class>jarvis.controllers.mark.MarkUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkDeleteController</servlet-name>
        <servlet-class>jarvis.controllers.mark.MarkDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkChangeImageController</servlet-name>
        <servlet-class>jarvis.controllers.mark.MarkChangeImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMainController</servlet-name>
        <servlet-class>jarvis.controllers.user.UserMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>jarvis.controllers.user.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchDTO</servlet-name>
        <servlet-class>jarvis.controllers.user.UserSearchDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchController</servlet-name>
        <servlet-class>jarvis.controllers.user.UserSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInsertController</servlet-name>
        <servlet-class>jarvis.controllers.user.UserInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditController</servlet-name>
        <servlet-class>jarvis.controllers.user.UserEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateController</servlet-name>
        <servlet-class>jarvis.controllers.user.UserUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteController</servlet-name>
        <servlet-class>jarvis.controllers.user.UserDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangeImageController</servlet-name>
        <servlet-class>jarvis.controllers.user.UserChangeImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionMainController</servlet-name>
        <servlet-class>jarvis.controllers.mission.MissionMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionListController</servlet-name>
        <servlet-class>jarvis.controllers.mission.MissionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionSearchController</servlet-name>
        <servlet-class>jarvis.controllers.mission.MissionSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionInsertController</servlet-name>
        <servlet-class>jarvis.controllers.mission.MissionInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionEditController</servlet-name>
        <servlet-class>jarvis.controllers.mission.MissionEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionUpdateController</servlet-name>
        <servlet-class>jarvis.controllers.mission.MissionUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionDeleteController</servlet-name>
        <servlet-class>jarvis.controllers.mission.MissionDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionChangeImageController</servlet-name>
        <servlet-class>jarvis.controllers.mission.MissionChangeImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionFinishController</servlet-name>
        <servlet-class>jarvis.controllers.mission.MissionFinishController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionAddUserController</servlet-name>
        <servlet-class>jarvis.controllers.mission.MissionAddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MissionDeleteUserController</servlet-name>
        <servlet-class>jarvis.controllers.mission.MissionDeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSetPasswordController</servlet-name>
        <servlet-class>jarvis.controllers.user.UserSetPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeMainController</servlet-name>
        <url-pattern>/HomeMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeIndexController</servlet-name>
        <url-pattern>/HomeIndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeSignInController</servlet-name>
        <url-pattern>/HomeSignInController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeSignUpController</servlet-name>
        <url-pattern>/HomeSignUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeSignOutController</servlet-name>
        <url-pattern>/HomeSignOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeEditProfileController</servlet-name>
        <url-pattern>/HomeEditProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeUpdateProfileController</servlet-name>
        <url-pattern>/HomeUpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeResetPasswordController</servlet-name>
        <url-pattern>/HomeResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeChangeImageController</servlet-name>
        <url-pattern>/HomeChangeImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeDeleteProfileController</servlet-name>
        <url-pattern>/HomeDeleteProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkMainController</servlet-name>
        <url-pattern>/MarkMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkListController</servlet-name>
        <url-pattern>/MarkListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkSearchController</servlet-name>
        <url-pattern>/MarkSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkInsertController</servlet-name>
        <url-pattern>/MarkInsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkEditController</servlet-name>
        <url-pattern>/MarkEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkUpdateController</servlet-name>
        <url-pattern>/MarkUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkDeleteController</servlet-name>
        <url-pattern>/MarkDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkChangeImageController</servlet-name>
        <url-pattern>/MarkChangeImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMainController</servlet-name>
        <url-pattern>/UserMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/UserListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchDTO</servlet-name>
        <url-pattern>/UserSearchDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchController</servlet-name>
        <url-pattern>/UserSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInsertController</servlet-name>
        <url-pattern>/UserInsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditController</servlet-name>
        <url-pattern>/UserEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateController</servlet-name>
        <url-pattern>/UserUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteController</servlet-name>
        <url-pattern>/UserDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangeImageController</servlet-name>
        <url-pattern>/UserChangeImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionMainController</servlet-name>
        <url-pattern>/MissionMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionListController</servlet-name>
        <url-pattern>/MissionListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionSearchController</servlet-name>
        <url-pattern>/MissionSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionInsertController</servlet-name>
        <url-pattern>/MissionInsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionEditController</servlet-name>
        <url-pattern>/MissionEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionUpdateController</servlet-name>
        <url-pattern>/MissionUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionDeleteController</servlet-name>
        <url-pattern>/MissionDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionChangeImageController</servlet-name>
        <url-pattern>/MissionChangeImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionFinishController</servlet-name>
        <url-pattern>/MissionFinishController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionAddUserController</servlet-name>
        <url-pattern>/MissionAddUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MissionDeleteUserController</servlet-name>
        <url-pattern>/MissionDeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSetPasswordController</servlet-name>
        <url-pattern>/UserSetPasswordController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file/>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/MainController</location>
    </error-page>
</web-app>
